{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ホームページ</title>
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
        <!-- カスタム CSS -->
        <link rel="stylesheet" type="text/css" href={% static 'style.css' %}>
    </head>
    <body style="">
        <header class="maincolor" style="">
            <div class="position-relative">
                {% if request.user.is_authenticated %}
                <ul class="position-absolute" style="right:0;">
                    <li>ユーザー：{{ user.username }}</li>
                        <li><a type="button" class="text-danger linknone fw-bold" data-bs-toggle="modal" data-bs-target="#logoutModal" style="cursor: pointer; right:0;">ログアウト</a></li>
                </ul>
                {% else %}
                <ul class="position-absolute" style="right:0;">
                    <li><a href={% url 'accounts:signup' %} class="linknone">サインイン</a></li>
                    <li><a href={% url 'accounts:login' %} class="linknone">ログイン</a></li>
                </ul>
                {% endif %}
            </div> 
            <a class="position-absolute linknone" style="left:0;" href="{% url 'search_app:favorite_list' %}"><i style="font-size:25px; margin:20px;" class="bi bi-bookmark-star"></i></a>
            <a href={% url 'search_app:search' %} class="linknone">
                <h3 style="text-align:center;">検索アプリ</h3>
            </a>
        </header>
        <main>
            <!--検索フォーム-->
            <form method="get" class="borderli rounded" style="margin:50px 30px; padding:30px 30px 20px;">
                <div class="d-flex justify-content-center">
                    <div class="w-100 marno" style="text-align: center;">
                        {{ form.as_p }}
                    </div>               
                </div>                
                <div class="d-flex mt-3" style="justify-content: space-around;">
                    <div style="width:45%;">
                        <label for="category">カテゴリ：</label>
                        <select class="borderli rounded" name="category" style="width:100%; height:30px;">
                            <option value="" selected>すべて</option>
                            <option value="書籍">書籍</option>
                            <option value="電子機器">電子機器</option>
                        </select>
                    </div>
                    <div style="width:45%;">
                        <label for="sort">並び替え：</label>
                        <select class="borderli rounded" name="sort" style="width:100%; height:30px;">
                            <option value="name">名前順</option>
                            <option value="price_asc">価格が安い順</option>
                            <option value="price_desc">価格が高い順</option>
                        </select>
                    </div>
                </div>

                <div class="d-flex mt-3" style="justify-content: space-around;">
                    <div style="width:45%;">
                        <label for="min_price">最低価格：</label>
                        <input class="borderli rounded" style="width:100%;" type="number" name="min_price" min="0">
                    </div>
                    <div style="width:45%;">
                        <label for="max_price">最高価格：</label>
                        <input class="borderli rounded" style="width:100%;" type="number" name="max_price" min="0">
                    </div>
                </div>

                <button type="submit" class="btn borderli maincolor btny" style="margin:35px 0 10px; width:100%; border-radius:25px;">検索</button>
            </form>

        <!--検索ワードの表示　例："Django"の検索結果-->

        <ul style="padding-left: 0px; margin:20px;">
            <div class="grid-out">
            {% for product in page_obj %}
                <div class="card p-4 m-3 borderli itemsize">
                    <div class="d-flex position-relative" style="justify-content: space-between;">
                        <div style="line-height:2;">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <h6 class="card-subtitle">価格：{{ product.price|floatformat:"0" }}</h6>
                            <p class="card-text">カテゴリ：{{ product.category }}</p>
                        </div>
                        <button class="starbtn position-absolute" onclick="toggleStar(this, {{ product.id }})">
                            <i class="bi {% if product.id in favorite_products %}bi-star-fill{% else %}bi-star{% endif %} star"></i>
                        </button>
                    <!--{% if product.id in favorite_products %}bi-star-fill{% else %}bi-star{% endif %}:
                        Djangoのテンプレートタグを使って、product.idがfavorite_productsリスト（ユーザーのお気に入り商品IDのリスト）に含まれているかを確認します。
                        bi-star-fill: product.idがfavorite_productsに含まれている場合は「塗りつぶしの星」を表示し、「お気に入りに登録されている」ことを示します。
                        bi-star: product.idがfavorite_productsに含まれていない場合は「空の星」を表示し、「お気に入りに登録されていない」ことを示します。-->
                    </div>
                    <div>
                        <a href="{% url 'search_app:product_detail' product.pk %}" class="btn borderli maincolor btny" style="margin:25px 0 0; width:100%; color:black; text-decoration:none;">
                            詳細を見る
                        </a>
                    </div>
                </div>
                {% empty %}
                    <li>No results found</li>
                {% endfor %}
            <div>
        </ul>

            <div class="pagination" style="justify-content:center; margin:20px;">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a style="color:#E5BE01;" href="?page=1">最初</a> 
                        <a style="color:#E5BE01;" href="?page={{ page_obj.previous_page_number }}">前へ</a>
                    {% endif %}
                    <span class="current">
                        ページ {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                        <a style="color:#E5BE01;" href="?page={{ page_obj.next_page_number }}">次へ</a>
                        <a style="color:#E5BE01;" href="?page={{ page_obj.paginator.num_pages }}">最後</a>
                    {% endif %}
                </span>
            </div>

            <!-- ログアウト確認用のモーダル -->
            <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true" style="align-content: center;">
                <div class="modal-dialog" style="text-align: -webkit-center;">
                    <div class="modal-content borderli" style="border-radius: 15px;">
                        <div class="modal-body">
                            <h5 class="modal-title" id="logoutModalLabel" style="text-align: center; margin: 0 0 10px;">ログアウト確認</h5>
                            本当にログアウトしますか？
                        </div>
                        <div class="modal-footer " style="justify-content: space-around;">
                            <form method="POST" action="{% url 'accounts:logout' %}">
                                {% csrf_token %}
                                <button type="submit" style="color:#D96767; font-weight:bold; border:none; background:none;">ログアウト</button>
                            </form>
                            <button type="button" class="btn" data-bs-dismiss="modal">キャンセル</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <footer class="subcolor" style="height:60px;">
            バンタン二年次制作物
        </footer>
        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            function toggleStar(button, productId) {
                const icon = button.querySelector('i');
                // サーバーにお気に入り状態を送信して更新
                fetch(`/favorites/toggle/${productId}/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value,
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => response.json())
                .then(data => {
                    if (data.is_favorited) {// お気に入りに登録された場合、星を点灯
                        icon.classList.add('bi-star-fill');
                        icon.classList.remove('bi-star');
                    } else {// お気に入りから解除された場合、星を消灯
                        icon.classList.add('bi-star');
                        icon.classList.remove('bi-star-fill');
                    }
                })
                .catch(error => {
                    console.error('エラー:', error);
                    alert("お気に入りの登録/解除ができませんでした。再試行してください。");
                });

                let isFilterOn = false;
                function toggleFavoriteFilter() {
                    const starButton = document.querySelector('.starbtn2 i');
                    
                    if (isFilterOn) {
                        // OFF状態：白色
                        starbtn2.style.color = "white";
                    } else {
                        // ON状態：黄色
                        starbtn2.style.color = "yellow";
                    }
                    // フィルター状態の反転
                    isFilterOn = !isFilterOn;
                    // フィルターの処理を呼び出し（実際のフィルタリング関数を使用する場合はここで呼び出します）
                    filterFavorites();
                }
                function filterFavorites() {
                    // 実際のフィルター処理をここに追加
                    console.log("Filtering favorites:", isFilterOn ? "ON" : "OFF");
                }
            }
        </script>
    </body>
</html> <!--お気に入りボタンを配置 / お気に入り商品のフィルター・お気に入り商品表示-->